$primary-color: red;
$bg-darkblue: white;
//Colors
$main-color: #040b14;
$alt-color: #149ddd;
$lightText-color: #6f7180;
$nestedHead-color: #050d18;
$mainHead-color: #173b6c;

$body-color: #272829;
$quote-color: #c3e8fa;
$brd-color: #1f5297;
$bg-main: #fff;
$bg-alt: #f5f8fd;
$bg-badge: #e4edf9;
$bg-icon: #212431;
